<form>
  <mat-form-field class="campo-busca">
    <mat-label>Buscar filme</mat-label>
    <input matInput (keyup)="buscar($event)">
  </mat-form-field>
</form>
<table mat-table [dataSource]="filmes" class="mat-elevation-z8" *ngIf="filmes && filmes.length > 0 && !carregando">
  <ng-container matColumnDef="episode_id">
    <th mat-header-cell *matHeaderCellDef> Episódio </th>
    <td mat-cell *matCellDef="let element"> {{element.episode_id}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="opening_crawl">
    <th mat-header-cell *matHeaderCellDef> Abertura </th>
    <td mat-cell *matCellDef="let element"> {{element.opening_crawl}} </td>
  </ng-container>
  <ng-container matColumnDef="release_date">
    <th mat-header-cell *matHeaderCellDef> Lançamento </th>
    <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card *ngIf="!filmes || filmes.length == 0" appearance="outlined">
  <mat-card-content>Nenhum filme encontrado!</mat-card-content>
</mat-card>
<mat-paginator
  [length]="totalDeFilmes"
  [pageSize]="tamanhoPagina"
  (page)="onPageChange($event)"
>
<div *ngIf="carregando" class="loading-container">
  <mat-spinner color="black"></mat-spinner>
</div>
